.main {
    align-items: center;
    border: solid rgb(235, 101, 17);
    height: 500px;
    padding: 10px 15px;
    width: 600px;
    margin: 0px auto;
    margin-top: 50px;
    border-radius: 10px;
}

.main h1,
h2 {
    display: block;
    padding: 5px 5px;
    text-align: center;
}

.main input {
    display: flex;
    height: 150px;
    padding: 50px 10px;
    width: 500px;
    margin: 0px auto;
    margin-top: 5px;
    border-radius: 10px;
}

.main button {
    display: flex;
    padding: 5px 5px;
    border-radius: 10px;
    margin-left: 250px;
}